@using Pylon.BL
@model IEnumerable<ProductDTO>

@{
    ViewBag.Title = "GetAll";
}

@foreach (var product in Model)
{
<div>
    <h4>@product.Name 
    @product.Description 
    @product.Price.ToString("c")</h4>  
</div>
}
